@import "tailwindcss";

@theme {
  --background-image-cute: url("../images/backgrounds/hatchingTurtles.svg");
  --color-primary: #db2777;
  --color-danger: #b91c1c;
  --font-family-sans-pro: "Source-Sans-Pro";
  --animate-bounce-once: bounce 500ms 1;
}

#overlay:open,
#assetLoadingOverlay:open {
  @apply flex opacity-90;
}

#assetLoadingProgressBar {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 0.25rem;
}

#assetLoadingProgressBar::-webkit-progress-bar {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 0.25rem;
}

#assetLoadingProgressBar::-webkit-progress-value {
  background-color: var(--color-primary);
  border-radius: 0.25rem;
}

#assetLoadingProgressBar::-moz-progress-bar {
  background-color: var(--color-primary);
  border-radius: 0.25rem;
}