@import "tailwindcss";

@theme {
  --background-image-cute: url("../images/backgrounds/hatchingTurtles.svg");
  --color-primary: #db2777;
  --color-danger: #b91c1c;
  --font-family-sans-pro: "Source-Sans-Pro";
  --animate-spin-once: spin 1s 1;
}

#overlay:open {
  @apply flex opacity-90;
}
