@import "tailwindcss";

@theme {
  --background-image-cute: url("../images/backgrounds/hatchingTurtles.svg");
  --color-primary: #db2777;
  --color-danger: #b91c1c;
  --font-family-sans-pro: "Source-Sans-Pro";
  --animate-bounce-once: bounce 500ms 1;
}

#overlay:open,
#assetLoadingOverlay:open {
  @apply flex opacity-90;
}

#assetLoadingProgressBar {
  @apply bg-slate-800 rounded-sm;
}

#assetLoadingProgressBar::-webkit-progress-bar {
  @apply bg-slate-800 rounded-sm;
}

#assetLoadingProgressBar::-webkit-progress-value {
  @apply bg-primary rounded-sm;
}

#assetLoadingProgressBar::-moz-progress-bar {
  @apply bg-primary rounded-sm;
}

@keyframes moveTurtle {
  0% {
    transform: translateX(-3em);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(3em);
  }
}

.move-turtle {
  animation: moveTurtle 3s infinite;
}
